*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-width: 1px;
	font-family: carlito;
}
body
{
	background-color: #252525;
	display: flex;
	justify-content: center;

}
#global
{
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #CFCECC;
}
/* Le titre qui défile ainsi que le fil d'ariane */
header
{
	z-index: 1000;
	width: 58%;
	position: -webkit-sticky;
	position: sticky;
	top:0;
	margin-top: 4%;
	color: #313131;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: #313131;
	box-shadow: 5px 5px 5px #212121;
	border-radius: 2px;
	padding: 5px;

}
h1
{
	font-size: 2em;
}
header nav
{
	border-radius: 2px;
	text-align: right;
}
header nav a
{
	font-size: 1.2em;
	text-decoration: none;
	color: #CBBC9C;
	padding: 2px;
}

header nav a:not([href="#PartieLast"])::after
{
	content: " > ";
}
header h1
{
	text-align: right;
	color: #CBBC9C;

}
/* Le block centrale contenant l'article ainsi que le menu de navigation */
section
{
	background-color: #CFCECC;
	width: 100%;
	padding: 0.5%;
	display: flex;
}
/* L'article à lire */
article
{
	background-color: white;
	box-sizing: border-box;
	width: 60%;
	text-align: justify;
	padding: 20px;
	margin-right: 1%;
	background-color: #CFCECC;
	border-radius: 10px;
}
/* Les images incrusté dans l'article */
article .image
{
	float: left;
	margin-right: 2%;	
	margin-top: 1%;
	text-align: center;
}
article ul
{
	margin-left: 6%;
}
ul li
{
	text-decoration: underline;
}
ul p
{
	font-style: italic;
}
article img
{
	width: 100%;
	height: auto;
}
/* Les sources des images */
figcaption
{
	margin-top: 2%;
	color: grey;
	opacity: 0.9;
	text-decoration: none;
}

figcaption a
{
	z-index: 0;
	text-decoration: inherit;
	color: inherit;
}

article h3
{
	font-size: 1.6em;
	margin-bottom: 2%;
}

article p
{
	font-size: 1.2em;
}

table
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 1%;
	margin-bottom: 2%;
}
table caption
{
	font-weight: 1000;
	font-size: 1.3em;
}
td, th
{
	font-size: 1.2em;
	width: 50%;
	padding: 0.5em;	
	border: solid black 1px;
	border-collapse: collapse;
}
th
{
	text-align: center;
}
/* le block ou se situe le menu de navigation et éventuellement une vidéo en rapport avec l'article */
section div
{
	width: 40%;
	display: flex;
	flex-direction: column;

}
/* Le menu de navigation */
#menu
{
	
	position: sticky;
	position: -webkit-sticky;
	margin-left: 2%;
	border-radius: 10px;
	top: 2em;
	width: 80%;
	background-color: #313131;
	padding: 2% 0%;
	box-shadow: 5px 5px 5px #212121;
	color
}
#menu h1
{
	text-align: center;
	color: #CBBC9C;
}

#menu h2
{
	right: 0%;
	display: block;
	text-align: right;
	margin: 4% 0%;
	width: 100%;
	font-size: 1.5em;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	padding: 0.2em 0.45em;
	transition: 1s;
	background-color: #313131;
}
#menu a
{
	color: #CBBC9C;
	text-decoration: none;
}

.nav_transition:hover
{
	transition: 1s;
	transition-timing-function: ease;
	transform: translate(20%, 0);

}
#pageActuelle
{
	position: relative;
	box-shadow: 0 8px 6px -5px #313131;
	left: 10%;
	background-color: rgb(1,55,102);
}

/* Les vidéos qui défilent en dessous du menu de navigation */
div .video
{
	align-items: center;
	position: sticky;
	width: 86%;
	top: 34em;
}
	
/* La banière du bas avec des sources pour en savoir plus sur l'article, le logo de l'IUT ou encore les auteurs du site internet */
footer
{
	background-color: #313131;
	display: flex;
	justify-content: space-around;
	color: #CBBC9C;
	padding: 0.5%;
}
.blockFooter
{
	display: flex;
	flex-direction: column;
}
.blockFooter h3
{
	text-decoration: underline;
	margin-bottom: 1%;
}
.blockFooter a
{
	color: #CBBC9C;
	text-decoration: none;
}
footer a
{	
	align-self: center;
}
